body {  
  background-color:#f5b642;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  .box {
    width: 800px;
    padding: 400px;
    background-color:#000723;
    text-align:center;
    border: 8px solid #fff;
   height: 100%;
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align:center;
    color: #fff;
  }
  .image {
    display: flex;
  justify-content: center;
  
  }
  img {
  
    object-fit: contain;
    margin: 5px;
    width: 800px;
    height: 500px;
    
    box-sizing: border-box;
   
  }


  
  
  .text{
    margin-top:40px;
      display:flex;
      justify-content:center;
      align-items:flex-end;
      color: white;
      font-size: 18px;
      
    }

    .buttons {
  display:flex;
  justify-content: space-around;
  

  
}
 
    .button {
      margin-top: 30px;
      margin-right: 30px;
      height:40px;
      width:450px;
      
    }
    
    .button:hover {
      background-color:#f5b642; 
      color: white;
     
    }
  
.chapitre {
  display:flex;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
  color:white;
  margin-top: 30px;
}

.reset {
  display:flex;
  justify-content: space-around;
  

  
}
 
    .reset {
      margin-top: 30px;
      margin-right: 30px;
      height:40px;
      width:450px;
      
    }
    
    .reset:hover {
      background-color:#f5b642; 
      color: white;
     
    }