body {  
  background-color:#f5b642;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  .box {
    width: 800px;
    padding: 400px;
    background-color:#000723;
    text-align:center;
    border: 8px solid #fff;
   height: 100%;
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align:center;
    color: #fff;
  }
  .image {
    display: flex;
  justify-content: center;
  
  }
  img {
  
    object-fit: contain;
    margin: 5px;
    width: 800px;
    height: 500px;
    
    box-sizing: border-box;
   
  }


  
  
  .text{
    margin-top:40px;
      display:flex;
      justify-content:center;
      align-items:flex-end;
      color: white;
      font-size: 18px;
      
    }

    .options  {
  display:flex;
  justify-content: space-around;
  flex-direction: row;

  
}
 
    .button  {
      margin-top: 30px;
      margin-right: 30px;
      height:40px;
      width:450px;
      color: white;
      border-radius: 5px;
      padding: 10px 25px;
      background: transparent;
      transition: all 0.3s ease;
       box-shadow:inset 2px 2px 2px 0px 
       rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
    }

    .button {
      background: rgb(0,172,238);
    background: linear-gradient(0deg, #f5b642 0%, #000723 100%);
      border: none;
      
    }
    .button:hover{
       background:#f5b642 ;
      box-shadow: none;
    }
  
.chapitre {
  display:flex;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
  color:white;
  margin-top: 30px;
}


.test {
  margin-top: 30px;
  color:white;
  display: flex;
  justify-content:center;
  align-items: flex-end;
  
}
.reset  {
    margin-top: 30px;
    margin-right: 30px;
    height:40px;
    width:250px;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;   
     box-shadow:inset 2px 2px 2px 0px 
     rgba(255,255,255,.5),
 7px 7px 20px 0px rgba(0,0,0,.1),
 4px 4px 5px 0px rgba(0,0,0,.1);
 
  }

  .reset {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, #f5b642 0%, #000723 100%);
    line-height: 42px;
    border: none;
    
  }

  .reset:hover{
     background:#f5b642 ;
    box-shadow: none;
  }

